#main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    padding-top: 100px;
    font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica, Arial, sans-serif;
}